{%- capture section_settings -%}
{
  "stackable": false,
  "layout": "vertical",
  "productId": {{ product.id | json }}
}
{%- endcapture -%}

<section class="section" data-section-id="{{ section.id }}" data-section-type="product-popular" data-section-settings='{{ section_settings }}'></section>
  <div class="container">
    <header class="section__header">
      <h2 class="section__title heading h3">{{ product.title | escape }}の関連商品</h2>
    </header>
    
    <div class="product-popular">
      <div class="scroller">
        <div class="scroller__inner">
          <div class="product-list product-list--vertical product-list--scrollable">
            {%- assign popular_products = product.metafields.related.products | split:"," -%}
            {%- for product_handle in popular_products -%}
              {%- render 'product-item', product: all_products[product_handle], grid_classes: '1/4--lap 1/5--desk 1/6--wide' -%}
            {%- endfor -%}
          </div>
        </div>
      </div>
    </div>
  </div>

  {%- comment -%}
  --------------------------------------------------------------------------------------
  QUICK VIEW CONTAINER
  --------------------------------------------------------------------------------------
  {%- endcomment -%}

  <div id="modal-quick-view-{{ section.id }}" class="modal" aria-hidden="true">
    <div class="modal__dialog modal__dialog--stretch" role="dialog">
      <button class="modal__close link" data-action="close-modal">{%- render 'icon', icon: 'close' -%}</button>

      <div class="modal__loader">
        {%- render 'icon', icon: 'search-loader' -%}
      </div>

      <div class="modal__inner"></div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Popular Products",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
$( document ).ready(function(){
  var flickityInstance = new Flickity(document.getElementsByClassName("product-list"), {
    watchCSS: true,
    pageDots: false,
    prevNextButtons: true,
    contain: true,
    groupCells: true,
    cellAlign: 'left',
    draggable: !window.matchMedia('(-moz-touch-enabled: 0), (hover: hover)').matches
  });
});
{% endjavascript %}
